# SMS Spam Collection Detection

#: Basic Data Cleaning

### Overview
In this file, I performed initial data cleaning tasks on the SMS Spam Collection dataset to prepare it for further analysis.

### Tasks

1. **Data Loading**
   - Loaded the dataset using pandas.

2. **Basic Data Assessment**
   - Reviewed the structure ofs or outliers.

3. **CleaniRemoving Duplicate rows.g as aRemoving unwanted columnsng or lemmatization.

In [1]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv("data/spam.csv", encoding='latin1')
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
3462,ham,i am seeking a lady in the street and a freak ...,NaN,NaN,NaN
666,ham,Carlos'll be here in a minute if you still nee...,NaN,NaN,NaN
2796,ham,If I get there before you after your ten billi...,NaN,NaN,NaN
725,ham,Got it! It looks scrumptious... daddy wants to...,NaN,NaN,NaN
2205,ham,"Haha, my legs and neck are killing me and my a...",NaN,NaN,NaN

In [33]:
df.iloc[1447]

v1                                                          ham
v2            DonÛ÷t give a flying monkeys wot they think a...
Unnamed: 2                                                  NaN
Unnamed: 3                                                  NaN
Unnamed: 4                                                  NaN
Name: 1447, dtype: object

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [35]:
# Dropping the redundent looking collumns
to_drop = ["Unnamed: 2","Unnamed: 3","Unnamed: 4"]
df.drop(to_drop, axis=1, inplace=True)

# Renaming the columns
df.rename(columns = {"v1":"target", "v2":"text"}, inplace = True)
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [36]:
# missing values
df.isnull().sum()

target    0
text      0
dtype: int64

In [37]:
# check for duplicate values
df.duplicated().sum()

403

In [38]:
# remove duplicates
df = df.drop_duplicates(keep='first')

In [39]:
df.duplicated().sum()

0

In [40]:
df.shape

(5169, 2)

In [41]:
df.to_csv("data/spam_cleaned.csv", index=False)