# Fraud Detection

## Basic Data Assessment and Cleaning

### Overview
In this file, we perform an initial assessment of the dataset, handle duplicate data, and manage null values to prepare the data for further analysis.

In [1]:
import numpy as np
import pandas as pd

In [5]:
pd.set_option("display.max_columns", None)

In [11]:
a = pd.read_csv("data/fraudTrain.csv")
t = pd.read_csv("data/fraudTest.csv")

In [12]:
df = a.copy()
test_df = t.copy()

In [13]:
df.shape

(1296675, 23)

In [14]:
df.sample(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
344089,344089,2019-06-10 20:54:28,377026671291680,"fraud_Bradtke, Torp and Bahringer",personal_care,4.45,Jackie,Davis,F,1898 Parker Fork Apt. 057,Redford,MO,63665,37.3272,-91.0243,241,Investment analyst,1974-10-27,f14b4030b960a32932e70f052f82210b,1339361668,37.498821,-91.626392,0
598398,598398,2019-09-10 23:27:56,3560797065840735,fraud_Fritsch and Sons,health_fitness,41.69,Janet,Turner,F,0925 Lang Extensions,Shields,ND,58569,46.1838,-101.2589,77,Film/video editor,1989-12-17,ce978668aa6885339b69165700236600,1347319676,45.534672,-100.974289,0
466638,466638,2019-07-24 22:49:10,4003989662068504,fraud_Feil-Morar,health_fitness,97.53,Chris,White,M,98897 Bennett Lodge,Bessemer,AL,35022,33.3224,-86.9657,71463,Radio broadcast assistant,1989-02-08,db3a5fafe4208fe890f78614c68b5f7b,1343170150,32.627006,-87.411854,0
1223463,1223463,2020-05-26 02:48:31,180017442990269,fraud_Will Ltd,food_dining,123.84,Michelle,Anderson,F,28311 Dennis Trace,Albany,NY,12222,42.6853,-73.8253,151022,"Designer, textile",1939-06-01,dd7961026e521267d7d864d77608a46f,1369536511,42.936529,-73.279959,0
1218403,1218403,2020-05-24 19:31:39,6011367958204270,fraud_Pacocha-Weissnat,kids_pets,23.89,Tammy,Ayers,F,1652 James Mews,Hinckley,OH,44233,41.2419,-81.7453,7646,Medical sales representative,1988-09-15,df44432250df7a89db64e69952eec0d7,1369423899,40.408105,-81.355012,0

In [17]:
test_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [19]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

## Checking for missing values

In [20]:
df.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [22]:
df.duplicated().sum()

0

In [24]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [23]:
df['is_fraud'].value_counts()

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

In [25]:
df.sample(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
823955,2019-12-09 10:49:18,3593399694467427,fraud_Kihn Inc,shopping_pos,11.69,Douglas,Smith,M,85932 Marc Throughway Apt. 080,Knowlesville,NY,14479,43.2363,-78.3138,275,TEFL teacher,1964-08-18,cd82d093f128a03cc1f658d247a6231a,1355050158,43.354283,-78.177384,0
947685,2020-01-13 22:50:25,577588686219,"fraud_Roob, Conn and Tremblay",shopping_pos,142.50,James,Strickland,M,25454 Leonard Lake,Spring Church,PA,15686,40.6153,-79.4545,972,Public relations account executive,1997-10-23,516ab979e41aa907b01e971259a10aa4,1358117425,40.912410,-79.633589,0
620788,2019-09-21 11:58:11,4926376199189801,fraud_Luettgen PLC,gas_transport,82.90,Claire,Davis,F,83685 Matthew Center Suite 870,Cherokee Village,AR,72529,36.3011,-91.5281,4726,Pharmacologist,1977-06-07,7344618668c531f604b18b6f4caecba2,1348228691,35.350075,-91.035338,0
800963,2019-12-04 14:31:07,30074693890476,fraud_Hills-Boyer,personal_care,18.51,Kelsey,Richards,F,889 Sarah Station Suite 624,Holcomb,KS,67851,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,77506b52be2c0ce4edbeeb1a62024314,1354631467,37.533422,-101.761646,0
437541,2019-07-14 14:46:31,4427805710168,fraud_Wiza LLC,misc_pos,3.34,Michelle,Rodriguez,F,1742 Brandon Squares Apt. 461,Ruidoso,NM,88355,33.3305,-105.6933,8874,Licensed conveyancer,2000-08-16,b51fcce25236b09dfe7b41321f42be29,1342277191,32.749604,-104.802341,0